body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.card {
	border: 1px solid #000 !important;
}
.news-image-s {
	border-radius: 1rem;
}
.news-title-s {
	font-size: 1.1rem;
	font-weight: 600;
	color: #000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.news-date-s {
	font-size: 1rem;
	font-weight: 600;
	color: #777777;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	float: right;
	margin-top: 3px;
}
